.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties


dynamic-resources/ai-models/speech-recognition-model/*
dynamic-resources/ai-models/LLM/*
dynamic-resources/lectures/*
db_examples/*.db


.DS_Store
Thumbs.db