.saves-scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-background-radius: 18;
}

.saves-scroll-pane .viewport {
    -fx-background-color: transparent;
}

.saves-scroll-pane .scroll-bar:vertical,
.saves-scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 1;
}

.saves-scroll-pane .scroll-bar:vertical {
    -fx-translate-x: -15px;
}

.saves-scroll-pane .scroll-bar .thumb {
    -fx-background-color: rgba(10, 42, 133, 0.75);
}

.saves-scroll-pane .scroll-bar .track {
    -fx-background-color: #B8D0FF;
}

.vbox-transparent {
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

