textarea {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: lightgray;
    -fx-padding: 10;
}

textarea .content {
    -fx-background-radius: 10;
    -fx-padding: 10;
}